html{
	background-color:blue;
	background-image:url("halo5.jpg");
	}
	
body {
	background-color:#F8F8F8; 
	border:2px solid black;
	border-radius:15px;
	margin-top:5px;
	margin-bottom:5%;
	border-color: black;
	font-size: 16px;
	margin-left:5%;
	margin-right:5%;
	}
	
p.center{
	text-align:center;
	}

p.perror{
	text-align:center;
	color:red;
}

p.purchase{
	text-align:center;
	font-size: 28px;
}
.center{
	text-align:center;
}
img.center{
	display: block;
   margin-left: auto;
   margin-right: auto;
	}
	
table.cart {

   font-size: 24px;
   margin: 0px auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

td {
   text-align:center;
}

td.right {
	text-align:right;
}

td.left{
	text-align:left;
}

table.home {
	float:left;
	display: inline-block;
	float: left;
	font-size: 16px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

table.login {
   margin: 0px auto;
}

img{
	width: 152px;
	height: 196px;
}

img.cart {
	width: 76px;
	height: 98px;
}

h1 {
	text-align:center;
}

.shift {
	margin-left: 5px;
	margin-right: 5px;
}

p.featured {
	margin-left: 15px;
	font-size:24px;
	color:#FF6600;
	font-style: italic;
	font-weight: bold;
}

button.purchase{
	width: 10em;  
	height: 2.7em;
	
}

td.qty {
	width:80px;
}

td.price {
	width:80px;
}

td.name {
	width:500px;
}

td.remove {
	width: 80px;
}